{% extends "base_login.html" %}
{% block content %}
<body class="bg-[#111937]">
    <div class="w-[80%] m-auto mt-14 text-[#FFFF]">
        <div class="">
            <span class="ArimoReg  text-[24px]">MALAYANFOLIO.COM</span>
        </div>
        <div class="m-auto mt-[70px] w-[50%] text-center">
            <div class="">
                <p class="ArimoReg  text-[34px]">Page not Found</p>

                <p class="ArimoReg  text-[28px]">Back to <a href="{% url 'home' %}"><u><b>Home</b></u></a></p>
                <hr class="w-[20%] m-auto border-[1.5px] mt-2">
            </div>
            
        </div>
    </div>
</body>
{% endblock %}